#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  background-image: url(src/components/ramya_background_image_for_chatbot_application_ef6991b1-f819-40e5-94cc-f278fcf376ea.png);
  /*background-size: contain;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 1750px;
  margin: 0;
  padding: 0;
}


.containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.containerText2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
}

.message {
  padding: 10px;
  border-radius: 5px;
}

.user-message {
  background-color: #2196f3;
  color: white;
}

.bot-message {
  background-color: #f1f1f1;
  color: black;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  height: 50px;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
